name: Test workflow
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@main
      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build . -j 4 --target test
  benchmarks:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@main
      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build . -j 4 --target bench
  lint:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@main
      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -DSTC_LINT=ON -DSTC_LINT_WARNINGS_ARE_ERRORS=ON
          cmake --build . -j 4
